body {
  font-family: 'Roboto', sans-serif;
}

.pokemons {
  display: flex;
  width: 100%;
  background: rgb(201,186,249);
  background: linear-gradient(90deg, rgba(201,186,249,1) 0%, rgba(218,251,250,1) 29%, rgba(240,246,146,1) 100%);
}

.pokemons-menu {
  position: fixed;
  z-index: 1;
  background: rgb(201,186,249);
  background: linear-gradient(90deg, rgba(201,186,249,1) 0%, rgba(218,251,250,1) 29%, rgba(240,246,146,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 230px;
}

.container-search {
  background-color:#f6f6f6;
  border: solid 1px rgb(179, 178, 178);
  border-radius: 10px;
  margin-top: 140px;
  margin-bottom: 25px;
  margin-left: 120px;
  width: 300px;
  height: 38px;
}

.input-search {
  float: left;
  background-color:#f6f6f6;
  padding-left: 5px;
  font-size: 16px;
  border: none;
  margin-top: 5px;
  height: 28px;
  width: 250px;
}

.container-search img {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.pokemons-pages {
  margin-right: 130px;
  margin-bottom: 25px;
  text-align: end;
}

.pokemons-pages .page {
  margin-left: 10px;
  height: 28px;
  border: solid 1px hotpink;
  border-radius: 20%;
  background-color:#f6f6f6;
  font-weight: bold;
}

.pokemons-pages .page:hover {
  background-color: hotpink;
  color: white;
}

.pokemons-pages .page-active {
  margin-left: 10px;
  height: 28px;
  border: solid 1px hotpink;
  border-radius: 20%;
  background-color:hotpink;
  color: white;
  font-weight: bold;
}

.pokemons-all {
  display: flex;
  width: 100%;
  margin: 250px 50px 50px 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

.pokemon-card {
  /* display: flex; */
  text-align: center;
  width: 150px;
  height: 220px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgb(97, 96, 96, 0.5);
}

.container-name-types {
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container-types {
  display: flex;
}

.container-img {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  text-align: center;
}

.name {
  width: 100%;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.type {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

@media screen and (max-width: 600px) {
  .pokemons-menu {
    display: block;
    height: 200px;
  }

  .pokemons-menu .pokemons-search {
    display: flex;
    width: 100%;
    height: 70%;
  }

  .pokemons-menu .pokemons-search .container-search {
    margin: auto;
    margin-top: 90px;
    width: 230px;
    height: 38px;
  }
  
  .input-search {
    font-size: 14px;
    margin-top: 5px;
    height: 28px;
    width: 180px;
  }
  
  .pokemons-pages {
    margin-bottom: 25px;
    width: 100%;
    height: 25%;
    text-align: center;
  }

  .page {
    margin-top: 10px;
  }

  .pokemons-all {
    margin: 210px 5px 20px 5px;
  }

  .pokemon-card {
    width: 120px;
    height: 190px;
    margin: 10px;
    padding: 10px;
  }  
   
  .container-img .back-img img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
  }

  .name {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .type {
    padding-top: 0px;
    padding-bottom: 0px;  
  }  
 
}
